.common-header {
  position: relative;
  background-color: #ebebeb;
  height: 50px;
  box-shadow: 0 2px 50px rgba(0, 0, 0, 0.075);
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 30px;
  }

  .app-logo {
    display: flex;
    align-items: center;
  }

  .app-logo p {
    font-weight: 700;
    font-size: 20px;

    span:first-child {
      color: #FFA62E;
    }
    
    span:last-child {
      color: #00B8BA;
    }
  }
}